// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  width: 100%;
  background-color: #6495ed;
  height: 45px;
  padding: 6px;
  color: #000000;
}
header li {
  list-style: none;
}
.main-header {
  margin-top: -20px;
  width: 100%;
}
.content{
	padding: 15px;
}